{% extends 'base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
        <header>
            <nav>
                <!--Barre de navigation responsive et custom avec materialize-->
                <div class="nav-wrapper grey darken-2">
                    <!--Partie de la barre horizontale en haut de page-->
                    <a href="" class="brand-logo"><img class="hide-on-med-and-down" src="img/ynov.png" alt="Img logo" id="header_logo"/>Dashboard</a>
                    <!--Boutton d'ouvertue du menu hamburger à gauche apparaissant sous petite résolution-->
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <form class="hide-on-med-and-down right">
                        <!--Formulaire de recherche positionné à droite-->
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                    <!--Boutton d'ouverture du menu utilisateur à droite sous format desktop-->
                    <a href="#" class="hide-on-med-and-down right left_header-logo" data-activates="slide-out"><i class="material-icons">person</i></a>
                    <!--Contenu du menu utilisateur-->
                    <ul id="slide-out" class="side-nav">
                        <li>
                            <div class="user-view">
                                <div class="background">
                                    <img src="img/ynov.png">
                                </div>
                                <a href="#!name"><i class="material-icons large left">person</i><span class="name">Mr.XXXX</span></a>
                                <a href="#!email"><span class="email">mr.xxxx@gmail.com</span></a>
                            </div>
                        </li>
                        <li><a href="#!"><i class="material-icons">settings</i>Paramètres du compte</a></li>
                        <li><a href="#!">Informations pratiques</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="subheader">Option désactivée</a></li>
                    </ul>
                    <!--Contenu du menu hamburger-->
                    <ul class="side-nav" id="mobile-demo">
                        <li id="side-nav_header">
                            <div class="grey darken-1 side-menu_header valign-wrapper">
                                <h2 class="user_name">Mr. XXXXX</h2>
                            </div>
                        </li>
                        <div id="side-nav_main">
                            <li><a href=""><i class="material-icons">dashboard</i>Tableau de bord</a></li>
                            <li><a href=""><i class="material-icons">date_range</i>Agenda</a></li>
                            <li><a href=""><i class="material-icons">call</i>Alertes</a></li>
                            <li><a href=""><i class="material-icons">chat</i>Commentaires</a></li>
                        </div>
                        <li id="side-nav_footer">
                            <div class="grey darken-3 side-menu_footer center-align">
                                <a href=""><i class="material-icons">info</i></a>
                                <a href=""><i class="material-icons">help</i></a>
                                <a href=""><i class="material-icons">settings</i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--Barre latérale affichée sous format desktop-->
            <nav class="vertical-menu hide-on-med-and-down grey darken-1">
                <ul class="vertical-bar center-align">
                    <li><a class="vertical-link" href=""><i class="material-icons">dashboard</i>Tableau de bord</a></li>
                    <li><a class="vertical-link" href=""><i class="material-icons">date_range</i>Agenda</a></li>
                    <li><a class="vertical-link" href=""><i class="material-icons">call</i>Alertes</a></li>
                    <li><a class="vertical-link" href=""><i class="material-icons">chat</i>Comments.</a></li>
                    <li><a class="vertical-link" href=""><i class="material-icons">contacts</i>Contact</a></li>
                    <li><a class="vertical-link" href=""><i class="material-icons">settings</i>Paramètres</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content row">
            <section class="col s12 l6">
                <div class="row">
                    <!--Div ou vont s'appliquer le JS des charts-->
                    <canvas class="col s6 l12" id="web_chart_person"></canvas>
                    <canvas class="col s6 l12" id="web_chart_all"></canvas>
                    <canvas class="col s6 l12" id="horizontal-graph"></canvas>
                </div>
            </section>
            <section class="col s12 l6">
                <h2 class="flow-text">Rendez-vous actuel</h2>
                <div>
                    <div class="card-panel grey lighten-2 urgent">
                        <div class="choice left center-align">
                            <!--Choix d'accepter ou refuser le rdv-->
                            <a href="" class="grey lighten-1"><i class="material-icons black-text">done</i></a>
                            <a href="" class="grey darken-1"><i class="material-icons black-text">clear</i></a>
                        </div>
                        <!--<div class="circle" id="avatar"><img src="" alt="Profil"/></div>-->
                        <i class="material-icons large">person</i>
                        <h3 class="flow-text">Mr. XXXXX</h3>
                        <!--<a class="btn-floating btn waves-effect waves-light right grey"><i class="material-icons">edit</i></a>-->
                        <span class="date right flow-text">XXhXX</span>
                        <p class="flow-text">Adresse</p>
                    </div>
                </div>
                <h2 class="flow-text">Rendez-vous suivants</h2>
                <div>
                    <h3>Demain</h3>
                    <!--Accordéon-->
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">person</i>Mr. XXXXX</div>
                            <div class="collapsible-body"><span>Adresse, temps de trajet pour y arriver</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">person</i>Mr. XXXXX</div>
                            <div class="collapsible-body"><span>Adresse, temps de trajet pour y arriver</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">person</i>Mr. XXXXX</div>
                            <div class="collapsible-body"><span>Adresse, temps de trajet pour y arriver</span></div>
                        </li>
                    </ul>
                    <h3>Jours suivants</h3>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">person</i>Mr. XXXXX</div>
                            <div class="collapsible-body"><span>Adresse, temps de trajet pour y arriver</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">person</i>Mr. XXXXX</div>
                            <div class="collapsible-body"><span>Adresse, temps de trajet pour y arriver</span></div>
                        </li>
                    </ul>
                </div>
                <div class="calls row">
                    <div class="col s6">
                        <!-- Déclencheur d'ouverture du modal -->
                        <a class="btn modal-trigger flow-text center-align" href="#modal_pass"><i class="material-icons right">call</i>Appels à passer</a>

                        <!-- Contenu du modal -->
                        <div id="modal_pass" class="modal">
                            <div class="modal-content">
                                <h4>Appels à passer</h4>
                                <!--Accordéon séparé-->
                                <ul class="collapsible popout" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">person</i>01 23 45 67 89</div>
                                        <div class="collapsible-body">
                                            <span>Adresse, RDV</span>
                                            <!--Lien renvoyant vers une appli interne de telephonie-->
                                            <a href="tel:0123456789" class="right">Appeler</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">person</i>01 23 45 67 89</div>
                                        <div class="collapsible-body">
                                            <span>Adresse, RDV</span>
                                            <a href="tel:0123456789" class="right">Appeler</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">person</i>01 23 45 67 89</div>
                                        <div class="collapsible-body">
                                            <span>Adresse, RDV</span>
                                            <a href="tel:0123456789" class="right">Appeler</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">person</i>01 23 45 67 89</div>
                                        <div class="collapsible-body">
                                            <span>Adresse, RDV</span>
                                            <a href="tel:0123456789" class="right">Appeler</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">person</i>01 23 45 67 89</div>
                                        <div class="collapsible-body">
                                            <span>Adresse, RDV</span>
                                            <a href="tel:0123456789" class="right">Appeler</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <a class="btn modal-trigger flow-text center-align" href="#modal_fail"><i class="material-icons right">call_end</i>Appels manqués</a>
                        <div id="modal_fail" class="modal">
                            <div class="modal-content">
                                <h4>Appels manqués</h4>
                                <ul class="collapsible popout" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">person</i>01 23 45 67 89</div>
                                        <div class="collapsible-body">
                                            <span>Adresse, Heure</span>
                                            <a href="tel:0123456789" class="right">Rappeler</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">person</i>01 23 45 67 89</div>
                                        <div class="collapsible-body">
                                            <span>Adresse, Heure</span>
                                            <a href="tel:0123456789" class="right">Rappeler</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">person</i>01 23 45 67 89</div>
                                        <div class="collapsible-body">
                                            <span>Adresse, Heure</span>
                                            <a href="tel:0123456789" class="right">Rappeler</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <!--Je n'ai pas vu la nécessité de faire un footer pour le genre de page-->
        </footer>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 50});
            $('.collapsible').collapsible();
            $('.modal').modal();
        });
    </script>
{% endblock %}