{% extends 'base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <main>
        <table id ="listprojets" class="display" cellspacing="0" width="90%"> 
            <thead> 
                <tr> 
                    <th>Nom</th> 
                    <th>Description</th> 
                    <th>Type</th> 
                    <th>perso</th> 
                    <th>Chef</th> 
                    <th>Helper</th>
                 </tr> 
            </thead>
            <tbody>
                <tr> 
                    <td>jeu</td> 
                    <td>Sin autem ad adulescentiam perduxissent, dirimi tamen interdum contentione vel uxoriae condicionis vel commodi alicuius, quod idem adipisci uterque non posset. Quod si qui longius in amicitia provecti essent, tamen saepe labefactari, si in honoris contentionem incidissent; pestem enim nullam maiorem esse amicitiis quam in plerisque pecuniae cupiditatem, in optimis quibusque honoris certamen et gloriae; ex quo inimicitias maximas saepe inter amicissimos exstitisse.</td> 
                    <td>interne</td> 
                    <td>pro</td> 
                    <td>Dijoux</td> 
                    <td>Moinet</td>
                </tr> 
                <tr> 
                    <td>nul</td> 
                    <td>Sin autem ad adulescentiam perduxissent, dirimi tamen interdum contentione vel uxoriae condicionis vel commodi alicuius, quod idem adipisci uterque non posset. Quod si qui longius in amicitia provecti essent, tamen saepe labefactari, si in honoris contentionem incidissent; pestem enim nullam maiorem esse amicitiis quam in plerisque pecuniae cupiditatem, in optimis quibusque honoris certamen et gloriae; ex quo inimicitias maximas saepe inter amicissimos exstitisse.</td> 
                    <td>externe</td> 
                    <td>pro</td> 
                    <td>Erwan</td>
                    <td>Erwan</td>
                </tr> 
                <tr> 
                    <td>Gecko</td> 
                    <td>Sin autem ad adulescentiam perduxissent, dirimi tamen interdum contentione vel uxoriae condicionis vel commodi alicuius, quod idem adipisci uterque non posset. Quod si qui longius in amicitia provecti essent, tamen saepe labefactari, si in honoris contentionem incidissent; pestem enim nullam maiorem esse amicitiis quam in plerisque pecuniae cupiditatem, in optimis quibusque honoris certamen et gloriae; ex quo inimicitias maximas saepe inter amicissimos exstitisse.</td>  
                    <td>interne</td> 
                    <td>perso</td>
                    <td>Fabien</td>
                    <td>Fabien</td>
                </tr> 
                
            </tbody>    
            <tfoot> 
                <tr> 
                    <th>Nom</th> 
                    <th>Description</th> 
                    <th>Type</th> 
                    <th>perso</th> 
                    <th>Chef</th> 
                    <th>Helper</th>
                </tr> 
            </tfoot> 
        </table>
    </main>
{% endblock %}
    
{% block stylesheets %}
    <style>
        
        
        
    </style>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#listprojets').DataTable();
        } );
    </script>
{% endblock %}
    