{% extends 'base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <header>
        <nav>
            <!--Barre de navigation responsive et custom avec materialize-->
            <div class="nav-wrapper blue darken-3">
                <!--Partie de la barre horizontale en haut de page-->
                <a href="" class="brand-logo"><img class="hide-on-med-and-down" src="{{ asset('ynov.png') }}" alt="Img logo" id="header_logo"/>Mon projet</a>
                <!--Boutton d'ouvertue du menu hamburger à gauche apparaissant sous petite résolution-->
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <!-- <form class="hide-on-med-and-down right">
                    Formulaire de recherche positionné à droite
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form> -->
                <a href="#" class="hide-on-med-and-down right">Déconnexion<i class="material-icons right">exit_to_app</i></a>
                <!--Boutton d'ouverture du menu utilisateur à droite sous format desktop-->
                <a href="#" class="hide-on-med-and-down right left_header-logo" data-activates="slide-out"><i class="material-icons">person</i></a>
                <!--Contenu du menu utilisateur-->
                <ul id="slide-out" class="side-nav">
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="{{ asset('ynov.png') }}">
                            </div>
                            <a href="#!name"><i class="material-icons large left">person</i><span class="name">Richard COUET</span></a>
                            <a href="#!email"><span class="email">richard.couet@ynov.com</span></a>
                        </div>
                    </li>
                    <li><a href="#!"><i class="material-icons">settings</i>Paramètres du compte</a></li>
                    <li><a href="#!">Informations pratiques</a></li>
                    <li><div class="divider"></div></li>
                </ul>
                <!--Contenu du menu hamburger-->
                <ul class="side-nav" id="mobile-demo">
                    <li id="side-nav_header">
                        <div class=" blue darken-1 side-menu_header valign-wrapper">
                            <h2 class="user_name">Richard COUET</h2>
                        </div>
                    </li>
                    <div id="side-nav_main">
                        <li><a href="#!"><i class="material-icons">note</i>Les projets</a></li>
                        <li><a href="#!"><i class="material-icons">folder</i>Mes projets</a></li>
                        <li><a href="#!"><i class="material-icons">person</i>Mon profil</a></li>
                        <li><a href="#!"><i class="material-icons">exit_to_app</i>Déconnexion</a></li>
                    </div>
                    <li id="side-nav_footer">
                        <div class="grey darken-3 side-menu_footer center-align">
                            <a href=""><i class="material-icons">info</i></a>
                            <a href=""><i class="material-icons">help</i></a>
                            <a href=""><i class="material-icons">settings</i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Barre latérale affichée sous format desktop-->
        <nav class="vertical-menu hide-on-med-and-down blue lighten-2">
            <ul class="vertical-bar center-align">
                <li><a class="vertical-link" href="#"><i class="material-icons">note</i>Les projets</a></li>
                <li><a class="vertical-link" href="#"><i class="material-icons">folder</i>Mes projets</a></li>
                <li><a class="vertical-link" href="#"><i class="material-icons">person</i>Mon profil</a></li>
                <li><a class="vertical-link" href="#"><i class="material-icons">exit_to_app</i>Quitter</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-content row">
        <section style="padding-top: 10px" class="col s12 l12"> 
            <div class="row">
                <div class="col s12  l6">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ asset('image1projet.jpg') }}"></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">Nom du projet</span>
                            <p>Description du projet: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis enim et orci ultrices, eget lobortis ante sollicitudin. Donec non magna vitae est tristique commodo eget sed mi.</p>
                            <a class="waves-effect waves-light btn right hide-on-large-only modal-trigger" style="position: initial!important;">Modifier la ficher technique</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 l6 hide-on-med-and-down">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Nom du projet</span>
                            <p class="truncate">Description du projet: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis enim et orci ultrices, eget lobortis ante sollicitudin. Donec non magna vitae est tristique commodo eget sed mi.</p>
                            <p>Type de projet: Interne</p>
                            <p>Projet Perso</p>
                            <p>Chef de projet : Machin Chose</p>
                            <p>Reférent helper : Richard Couet</p>
                            <table class="striped" style="height: 20vh;">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Promotion</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Alvin</td>
                                        <td>Eclair</td>
                                        <td>Ingésup B2</td>
                                    </tr>
                                    <tr>
                                        <td>Alan</td>
                                        <td>Jellybean</td>
                                        <td>Limart B2</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>Evaluation du projet : ***</p>
                            <a class="waves-effect waves-light btn right modal-trigger" style="position: initial!important;">Modifier la ficher technique</a>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h3 class="flow-text">Rapports</h3>
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Projet concerné</div>
                            <div class="collapsible-body">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header">
                                            <i class="material-icons">place</i>
                                            Date du rapport
                                        </div>
                                        <div class="collapsible-body">
                                             <form action="#">
                                                <div class="file-field input-field">
                                                    <div class="btn">
                                                        <span>File</span>
                                                        <input type="file" multiple>
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                                                    </div>
                                                </div>
                                            </form>
                                            <a class="btn halfway-fab waves-effect waves-light blue lighten-2"><i class="material-icons">file_download</i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header">
                                            <i class="material-icons">place</i>
                                            Date du rapport
                                        </div>
                                        <div class="collapsible-body">
                                            <a class="btn halfway-fab waves-effect waves-light blue lighten-2"><i class="material-icons">file_download</i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header">
                                            <i class="material-icons">place</i>
                                            Date du rapport
                                        </div>
                                        <div class="collapsible-body">
                                            <a class="btn halfway-fab waves-effect waves-light blue lighten-2"><i class="material-icons">file_download</i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">place</i>Projet concerné</div>
                            <div class="collapsible-body">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Date du rapport</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">place</i>Date du rapport</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Date du rapport</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">whatshot</i>Projet concerné</div>
                            <div class="collapsible-body">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Date du rapport</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">place</i>Date du rapport</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Date du rapport</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12">
                    <h3 class="flow-text">Commentaires</h3>
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Priorité haute</div>
                            <div class="collapsible-body">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Projet concerné</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">place</i>Projet concerné</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Projet concerné</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">place</i>Priorité haute</div>
                            <div class="collapsible-body">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Projet concerné</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">place</i>Projet concerné</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Projet concerné</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">whatshot</i>Priorité basse</div>
                            <div class="collapsible-body">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Projet concerné</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">place</i>Projet concerné</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Projet concerné</div>
                                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <!-- A voir si footer nécessaire-->
    </footer>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
    .card .card-image img{
        position: initial!important;
    }
    .card .card-image{
        position: initial!important;
    }
    .card{
        position: initial!important;
    }
    .background img {
        width: 100%!important;
    }
    .side-nav .user-view .background{
        position: relative!important;
    }
</style>
{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function(){
            /*Initialisation du sideNav*/
            $(".button-collapse").sideNav({
                menuWidth: 548, // Default is 300
            });
            $(".left_header-logo").sideNav({
                menuWidth: 300, // Default is 300
                edge: 'right'
            });
            /*Initialisation des accordéons et modal*/
            $('.collapsible').collapsible();
            $('.modal').modal();
        })
    </script>
{% endblock %}