{% extends 'base.html.twig' %}

{% block title %}
    Plateforme de gestion des projets YDays
{% endblock %}

{% block body %}
    <main>
        <h1 class="center-align">Connexion</h1>
        <form method="post" action="{{ path('dashboard') }}" enctype="multipart/form-data">
            <div class="row">
                <div class="col s12 m8 l6 xl4 offset-m2 offset-l3 offset-xl4">
                    <div class="card-panel grey lighten-5">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="identifiant" type="text" name="identifiant" class="validate" required>
                                <label class="cyan-text text-darken-1" for="identifiant">Identifiant</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="password" type="password" name="password" class="validate" required>
                                <label class="cyan-text text-darken-1" for="password">Mot de passe</label>
                            </div>
                            <div class="row btn-fin-form">
                                <!-- <div class="col s6">
                                    <a href="#inscription" class="btn modal-trigger tooltipped grey lighten-1" data-position="bottom" data-delay="50" data-tooltip="Pas de compte ? Créez vous en un !">Inscription<i class="left material-icons white-text">person_add</i></a>
                                </div> -->
                                <div class="col s6 offset-s6 right-align">
                                    <button type="submit" name="connexion" class="waves-effect waves-light btn cyan">Connexion<i class="left material-icons white-text">check</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="inscription" class="modal">
            <form method="post" action="{{ path('inscription') }}" enctype="multipart/form-data">
                <div class="modal-content row">
                    <h4>Création d'un nouveau compte</h4>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="nom" name="nom" type="text" class="validate">
                            <label for="nom">Nom</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="prenom" name="prenom" type="text" class="validate">
                            <label for="prenom">Prénom</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">person</i>
                            <input id="pseudo" name="pseudo" type="text" class="validate">
                            <label for="pseudo">Pseudonyme</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">fingerprint</i>
                            <input id="new_password" type="password" name="new_password" class="validate">
                            <label for="new_password">Mot de passe</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">fingerprint</i>
                            <input id="conf_password" type="password" name="conf_password" class="validate">
                            <label for="conf_password">Confirmez votre mot de passe</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input id="mail" name="mail" type="email" class="validate" required>
                            <label for="mail">Adresse mail de contact</label>
                        </div>
                    </div>
                    <div class="switch right">
                        <label>
                          Utilisateur
                            <input name="admin" type="checkbox">
                            <span class="lever"></span>
                          Administrateur
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="inscrire" class="modal-action waves-effect waves-green btn-flat">Valider</button>
                </div>
            </form>
        </div>          
    </main>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 50});
            $('.modal').modal();
        });
    </script>
{% endblock %}